.path {
    display: flex;
    font-size: 14px;
    opacity: 0.7;
    line-height: 33px;
    border-bottom: 1px solid #eee;
}
.path-home, .path-name {
    display: flex;
    align-items: center;
}
.path span,
.pad i {
    margin: 0 5px;
}
.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: var(--black-color);
    text-align: left;
    background-color: rgb(244,244,244);
    height: auto;
}
.content__name-book {
    text-align: center;
    color: #B77050;
}
.content__part-book {
    text-align: center;
    color: #888888;
}
.content p {
    padding: 16px 10px;
}
.content__control {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 30px;
    background-color: #F9AB8B;
    border-radius: 5px;
}
.content__next {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 36px;
    height: 30px;
    background-color: #F9AB8B;
    border-radius: 5px;
    transition: background-color ease-in-out 0.5s;
}
.content__menu:hover, .content__next:hover{
    background-color: var(--primary-color);
}
.content__menu .menu-icon{
    opacity: 0.6;
}